html body {
	width: 100%;
	padding:0em;
	margin: 0em;
	margin-bottom:0;
    background-color:rgb(255, 255, 255);
	overflow-x: hidden; 
	font-family: 'Roboto', sans-serif;  
}

  .title {
	padding: 2rem;
	background-color: black;
	color: white;
	width: 100%;
    display: flex;
    flex-flow: row nowrap;
	align-items: center;
	justify-content: left;
}

.title img {
	flex-basis: 2%;
    text-align: right;
    margin-right: 1rem;
	width: 5em;
	margin-left: 2%;
	border-radius:9em;
	border: 2px solid white;
	height: 2%;
	justify-content: center;
}
.lines {
	text-align: right;
	margin-right: 4vw;
	margin-bottom: 0.5vw;
	color: white;
	font-size:4vw;
}

h1{
	font-size: 2rem;
	font-weight: bold;
	flex-basis: 80%;
    margin: 2rem 0 2rem 0;
	text-align: left;
}

/*nav{
	display: flex;
	width: 100%;
	float: none;
	border-bottom: 3px solid white;
	border-top: 3px solid white;
	background-color: black;
	padding: 0.6rem 0 0.6rem 0;
	margin: 0;
  }

  nav ul{
	width: 100%;
	list-style-type: none;
	padding-right: 1rem;
	margin: 0rem;
	text-align: center;
  }
  nav li {
	width: 7rem;
	background-color:black;
	margin-left: 0.4rem;
	margin-bottom: 1rem;
	margin-top: 1rem;
	text-align: center;
	display: inline-block;
	color:white;
	border: 0.2rem solid white;
	font-family: 'Roboto', sans-serif;
  }
  nav a {
	border: 0px solid green;
	font-size: 20px;
	color: white;
	font-weight: bold;
	text-decoration: none;
	display: block;
  }
  nav a:hover {
	background-color: rgb(255, 217, 0);
	color: black; 
  }*/

  .sidenav{
	/*display: flex;
	width: 100%;
	float: none;
	border-bottom: 0.25vw solid white;
	border-top: 0.25vw solid white;
	background-color: black;
	padding: 0.15vw 0;
	margin: 0;*/
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	top: 0;
	right: 0;
	background-color: #111;
	overflow-x: hidden;
	transition: 0.5s;
	padding-top: 60px;
	text-align: right;
}



.sidenav a {
	/*border: 0px solid green;
	font-size: 1.5vw;
	color: white;
	font-weight: bold;
	text-decoration: none;
	display: block;
	padding: 0.3vw;*/
	padding: 8px 32px 8px 8px;
	text-decoration: none;
	font-size: 25px;
	color: #818181;
	display: block;
	transition: 0.3s;
}

.sidenav a:hover {
	/*background-color: rgb(255, 217, 0);
	color: black;*/
	color: #f1f1f1;
}

.sidenav .closebtn {
	position: absolute;
	top: 0;
	left: 25px;
	font-size: 36px;
	margin-right: 50px;
  }

@media screen and (max-height: 450px) {
	.sidenav {padding-top: 15px;}
	.sidenav a {font-size: 18px;}
  }

ul {
 color: white;
  }

.head_img {
	margin:0;
}

.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	text-align: center;
}

figcaption{
	font-size: 15px;
	color: grey;
	text-align: center;
}

.info1 {
	/*background-color: #5D070E;*/
	color:black;
	/*padding: 2rem 0.5rem 2rem 0.5rem;
	align-items: center;*/
	margin: 3rem 20rem 3rem 20rem;
}

.info1 p {
	font-size: 17px;
}

.map{ 
	padding-bottom: 3rem;
}

.bottom-nav p {
	display: inline-block;
	/*border: 2px solid grey;
	border-radius: 15%;*/
	padding: 0.1rem;
	margin: 0.2rem;
}

.bottom-nav{
	text-align: center;
	background-color: black;
	padding: 1rem; 
	margin:0;
	width:100%;
	text-align: none;
}
.bottom-nav p a{
	color:white;
}
.bottom-nav p a:hover{
	color:#f5f11a;
}
.bottom-nav li{
	padding:0.3rem;
	margin: 1rem;
	display: inline-block;
	list-style-type: none;

}
.bottom-nav a{
	color: #ffffff;
	text-decoration: none;
	display: block;
}
.bottom-nav li a:hover {
	color: #f5f11a;
}