/* my first css*/


html, body {
	width: 100%;
	padding:0em;
	margin: 0em;
	margin-bottom:0;
	background: linear-gradient(-60deg, #ffcd13,#ffa64d, #ff8951, #ff6685, #d439ff, #8080ff,#3c3cdd, #000066);
	background-size: 400% 400%;
	-webkit-animation: gradient 15s ease infinite;
	        animation: gradient 15s ease infinite;
	overflow-x: hidden;
	font-family: 'Roboto', sans-serif;
}

@-webkit-keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.title {
	padding: 1.5%;
	background-color: black;
	color: white;
	width: 100%;
    display: flex;
    flex-flow: row nowrap;
	align-items: center;
}

.title img {
	flex-basis: 8%;
    text-align: right;
    margin-right: 0.3%;
	width: 8%;
	margin-left: 16.5%;
	border-radius:  38%;
	border: 1% solid white;
}

.lines {
	text-align: right;
	margin-right: 4vw;
	margin-bottom: 0.5vw;
	color: white;
	font-size:4vw;
}

h1{
	font-size: 3.7vw;
	font-weight: bold;
	flex-basis: 80%;
    margin: 0.8%;
	text-align: left;
}

@media screen and (max-width: 1100px) {
	.title {
		padding: 2%;
	}
	.title img {
		margin-left: 12%;
	}
	h1 {
		font-size: 4.5vw;
	}
}

@media screen and (max-width: 450px) {
	.title {
		padding: 6% 4%;
	}
	.title img {
		margin-left: 1%;
	}
	h1 {
		font-size: 5vw;
	}
	.lines {
		margin-right: 10vw;
		font-size: 7vw;
		margin-top: 0;
		margin-bottom: 1vw;
	}
}

.sidenav{
	/*display: flex;
	width: 100%;
	float: none;
	border-bottom: 0.25vw solid white;
	border-top: 0.25vw solid white;
	background-color: black;
	padding: 0.15vw 0;
	margin: 0;*/
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	top: 0;
	right: 0;
	background-color: #111;
	overflow-x: hidden;
	transition: 0.5s;
	padding-top: 60px;
	text-align: right;
}



.sidenav a {
	/*border: 0px solid green;
	font-size: 1.5vw;
	color: white;
	font-weight: bold;
	text-decoration: none;
	display: block;
	padding: 0.3vw;*/
	padding: 8px 32px 8px 8px;
	text-decoration: none;
	font-size: 25px;
	color: #818181;
	display: block;
	transition: 0.3s;
}

.sidenav a:hover {
	/*background-color: rgb(255, 217, 0);
	color: black;*/
	color: #f1f1f1;
}

.sidenav .closebtn {
	position: absolute;
	top: 0;
	left: 25px;
	font-size: 36px;
	margin-right: 50px;
  }

@media screen and (max-height: 450px) {
	.sidenav {padding-top: 15px;}
	.sidenav a {font-size: 18px;}
  }


.intro {
	font-size: 20px;
	margin: 4vw 3.9vw;
	padding: 2.4vw 2.4vw 2.4vw 2.4vw;
	text-align: center;
	background-color:rgb(0, 0, 0);
	display:flex;
	align-items: center;
}

@media screen and (max-width: 1100px) {
	.intro {
		font-size: 15px;
		margin: 6vw 3.9vw;
	}
}

@media screen and (max-width: 720px) {
	.intro {
		font-size: 12.5px;
		flex-wrap: wrap;
		margin: 8vw 3.9vw;
	}
}

.container {
	float:left;
	margin-right: 1vw;
}

.container img {
	width: 35vw;
	height: auto;
}

@media screen and (max-width: 720px) {
	.container img {
		width: 70vw;
		height: auto;
		padding-left: 8vw;
	}
}

.floatright{
	float: right;
	flex-wrap: nowrap;
	padding-bottom: 1vw;
} 

h2{
	text-align: center;
	font-size: 32px;
	font-weight: 400;
}

@media screen and (max-width: 1100px) {
	h2 {
		font-size: 22px;
	}
}

@media screen and (max-width: 720px) {
	h2 {
		font-size: 15px;
	}
}

figcaption {
	text-align: center;
	color: #404040;
}

@media screen and (max-width:  1100px) {
	figcaption {
		font-size: 13px;
	}
}

@media screen and (max-width:  720px) {
	figcaption {
		font-size: 10px;
	}
}

.text {
	text-align: center;
	font-weight: 400;
	font-size: 18px;
	padding:1vw;
	margin: 0vw 4vw 0 4vw;
	background-color: black;
}

@media screen and (max-width: 1100px) {
	.text {
		font-size: 15px;
	}
}

@media screen and (max-width: 720px) {
	.text {
		font-size: 13px;
	}
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.img{
	margin-top:2vw;
	border: 0.3vw solid white;
	width:55vw;
	height:auto;
}

@media screen and (max-width: 1100px) {
	.img {
		width:65vw;
		height:auto;
	}
}

@media screen and (max-width: 720px) {
	.img {
		width:80vw;
		height:auto;
	}
}

.list_why {
 color: white;
 font-weight: 400;
 font-size: 18px;
 padding:1vw 2vw;
 background-color: black;
 margin:2vw 4vw;
}

@media screen and (max-width: 1100px) {
	.list_why {
		font-size: 15px;
	}
}

@media screen and (max-width: 720px) {
	.list_why {
		font-size: 13px;
	}
}

div:after {
    content: "";
    display: table;
    clear: both;
}
.bottom-nav{
	text-align: center;
	background-color: black;
	padding: 1vw; 
	margin:0;
	width:100%;
	text-align: none;
}
.bottom-nav p a{
	color:white
}
.bottom-nav p a:hover{
	color:#f5f11a;
}
.bottom-nav li{
	padding:0.6vw;
	margin: 1vw;
	display: inline-block;
	list-style-type: none;
}
.bottom-nav a{
	color: #ffffff;
	text-decoration: none;
	display: block;
}
.bottom-nav li a:hover {
	color: #f5f11a;
}